<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Solid universal renderer</title>
    </head>
    <body>
        <script type="module">
            import { createSolidContainer, render } from '../src/components/solid/index.js'
            import { BasicComponent } from './solid'

            const container = createSolidContainer({ ui: 123 })

            const dispose = render(BasicComponent, container)
            // dispose()
        </script>
    </body>
</html>
